
.branch-projects-section {
  padding: 30px 20px;
  background: #ffffff;
}

.branch-projects-container {
  max-width: 1200px;
  margin: 20px;
}

/* TITLE */
.branch-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #222;
}

.branch-title span {
  color: #f42b5f;
}

.branch-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #f42b5f;
  margin-top: 10px;
}



.type-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 600px;
  margin-bottom: 50px;
}



.type-card {
  background: #ffffff;
  border-radius: 14px;
  padding: 45px 30px 35px;
  text-align: center;
  text-decoration: none;
  color: #222;

  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.304);
  transition: all 0.35s ease;
}

.type-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 30px 45px rgba(0, 0, 0, 0.15);
}


.type-card img {
  max-width: 80px;
  margin-bottom: 22px;
}


.type-card h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 22px;
  color: #222;
}


.view-btn {
  display: inline-block;
  background: #f42b5f;
  color: #fff;
  padding: 10px 26px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  transition: background 0.3s ease;
}

.type-card:hover .view-btn {
  background: #d81f4f;
}

/* ================= DESCRIPTION ================= */

.projects-desc {
  max-width: 900px;
  font-size: 16px;
  color: #555;
  line-height: 1.8;
  margin-bottom: 30px;
}


.read-more-btn {
  background: #0d5bd9;
  color: #fff;
  border: none;
  padding: 12px 26px;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}



@media (max-width: 768px) {
  .branch-projects-section {
    padding: 50px 16px;
  }

  .branch-title {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .type-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}