* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.services {
  padding: 80px 20px;
  background: #fff;
}

.services-container {
  max-width: 1400px;
  margin: auto;
}


.services-header h2 {
  font-size: 34px;
  font-weight: 700;
  color: #111;
}

.services-header h2 span {
  color: #ff2b5b;
}

.underline {
  width: 50px;
  height: 3px;
  background: #ff2b5b;
  margin-top: 8px;
}


.services-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}


.service-card {
  background: #fff;
  border-radius: 14px;

 
  padding: 28px 18px;
  min-height: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;


  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 4px 10px rgba(0, 0, 0, 0.04);

  transition: all 0.3s ease;
  cursor: pointer;
}


.service-card img {
  width: 44px;
  height: 44px;
}


.service-card p {
  font-size: 15px;
  font-weight: 500;
  color: #111;
  text-align: center;
  line-height: 1.4;
}


.service-card:hover {
  transform: translateY(-5px);
  box-shadow:
    0 18px 40px rgba(0, 0, 0, 0.12),
    0 6px 16px rgba(0, 0, 0, 0.06);
}

.service-card:hover p {
  color: #ff2b5b;
}




@media (max-width: 1024px) {
  .services-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}


@media (max-width: 768px) {
  .services {
    padding: 50px 16px;
  }

  .services-header h2 {
    font-size: 26px;
  }

  .services-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .service-card {
    padding: 22px 14px;
    min-height: 130px;
  }

  .service-card img {
    width: 40px;
    height: 40px;
  }

  .service-card p {
    font-size: 14px;
  }
}
