.technology {
  padding: 70px 24px;
 
  background: #f5f5f5;
}

.tech-title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 50px;
}

.tech-title span {
  color: #ff2b5b;
  border-bottom: 3px solid #ff2b5b;
  padding-bottom: 6px;
}

/* ================= GRID ================= */
.tech-grid {
  max-width: 1350px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 60px;
}

/* ================= CARD ================= */
.tech-card {
  display: flex;
  align-items: center;
   background: #fff;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tech-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.12);
}


.tech-card img {
  width: 220px;
  height: 180px;
  object-fit: cover;

}


.tech-content {
  flex: 1;
  text-align: center;
  padding: 0 24px;
}

.tech-content h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 18px;
  color: #1c1c4c;
}


.tech-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  flex-wrap: wrap;
}

.tech-links a {
  font-size: 14.5px;
  color: #ff2b5b;
  text-decoration: none;
  font-weight: 500;
}

.tech-links a:hover {
  text-decoration: underline;
}

.tech-links a:not(:last-child)::after {
  content: "|";
  margin-left: 14px;
  color: #999;
}




@media (max-width: 1024px) {
  .tech-grid {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 768px) {
  .technology {
    padding: 40px 16px;
  }

  .tech-title {
    font-size: 26px;
  }

  .tech-card {
    flex-direction: column;
    text-align: center;
  }

  .tech-card img {
    width: 100%;
    height: 220px;
    margin-bottom: 18px;
  }

  .tech-content {
    padding: 0;
  }
}
